body{
    background-color: #051f57;
    color: white;
    margin-left: 200px;
    margin-right: 200px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    gap: 8px;
}