body{
    background-color: #1F2937;
    color: #F9FAF8;
    margin: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 400px;
    padding-right: 400px;
}
.logo{
    size: 24px;
}
ul{
    size: 18px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    gap: 16px;
}
.body-1{
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 400px;
    padding-right: 400px;
    justify-content: space-between;
}

.body-1 h1{
    margin:0px;
    color: #F9FAF8;
    size: 48px;
}

.body-1 p{
   size: 18px;
   margin:0px;
    color:#E5E7EB;
}

.body-1 img{
    height: 150px;
    width: auto;
}

.body-1 div{
    height: 150px;
    width: 300px;
    margin:0
}