body{
    background-color: #051f57;
    color: white;
    margin: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    gap: 8px;
}
.body-1{
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: space-between;
}

.body-1 h1{
    size: 2rem;
}
.body-1 img{
    height: 150px;
    width: auto;
}